section:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #7510F7;
  padding: 9rem 9% 18rem 9%;


  div {
    display: flex;
    flex-direction: column;
    color: white;
    width: 1050px;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: 800;
      line-height: 1.125;
      padding-bottom: 40px;
    }

    p {
      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.5;
    }
  }
}

section:last-of-type {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -14rem;
}